@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove the number input arrows and other controls */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="number"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0; /* Optional: Adjust the spacing as needed */
}

/* vanilla css styles */
body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

/* Tailwind custom classes */
@layer base {
  nav#home-nav li a {
    @apply font-bold text-2xl;
  }

  section#hero nav a p {
    @apply text-xs;
  }
  nav#home-nav li {
    @apply flex flex-col justify-center gap-1 items-center md:hover:text-orange;
  }

  nav#menu-navigation ul a {
    @apply flex w-fit flex-shrink-0  border px-3 py-2 text-sm hover:scale-110 transition-all duration-500 rounded-full gap-2;
  }

  .rounded-btns {
    @apply flex  rounded-full border w-[30px] items-center justify-center h-[30px];
  }
}
