@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.glass-effect {
  background: rgba(255, 255, 255, 0.62);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.hero-section-glass-effect {
  background: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

@layer base {
  nav {
    @apply flex  my-2 items-center justify-between;
  }

  .nav-open {
    @apply fixed w-full top-0 glass-effect right-0 min-h-screen flex justify-center items-center text-center uppercase gap-7 flex-col md:flex;
  }

  .nav-close {
    @apply hidden md:flex md:justify-self-end md:flex-row md:gap-2 w-1/2 justify-between;
  }

  .hero-section {
    @apply py-12 flex flex-col w-full md:justify-between justify-center items-center md:flex-row lg:gap-0 gap-16;
  }

  .hero-section div div {
    @apply flex w-full mt-5;
  }

  .hero-section button {
    @apply w-full md:w-fit text-white font-bold bg-orange py-3 px-7  rounded-lg;
  }

  .hero-section .hero-text-section {
    @apply md:w-3/4 lg:w-1/2;
  }

  .hero-section .hero-text-section p:first-of-type {
    @apply text-4xl lg:text-6xl  mb-4 md:text-left font-black text-center;
  }

  .hero-section .hero-text-section p:last-of-type {
    @apply text-center md:text-left;
  }

  .hero-card-section {
    @apply flex md:justify-end w-full md:mt-10 lg:w-1/2;
  }

  .hero-img-bg {
    @apply ml-auto lg:h-[550px] h-[420px] w-full lg:w-auto;
  }

  .hero-section__glass-card {
    @apply max-w-[10rem] max-h-fit flex flex-col px-5 py-5 text-center rounded-2xl hero-section-glass-effect;
  }

  .hero-glass-effect__img {
    @apply absolute -top-1/2 rounded-full max-w-[7rem];
  }
}
