@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.glass-effect {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.62);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

@layer base {
  .nav-open {
    @apply fixed w-full top-0 glass-effect right-0 min-h-screen flex justify-center items-center text-center uppercase gap-7 flex-col md:flex;
  }

  .nav-close {
    @apply hidden md:flex md:flex-row gap-8 w-1/2 justify-between mr-5;
  }

  nav {
    @apply flex px-4 py-2 items-center justify-between;
  }
}
